.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  opacity: opacity 10000ms ease-in;
}

body, html {
  height: 100%;
  margin: 0;
}

.App {
  /* The image used */
  background-image: url(https://images7.alphacoders.com/381/381583.jpg);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.LoginModal {
  /* The image used */
  background-image: url(https://images2.alphacoders.com/119/119342.jpg);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ProductsList {
  /* The image used */
  background-image: url(https://images7.alphacoders.com/592/592675.jpg);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}